@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* ///////////// GLOBAL //////////////\ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ebebff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: rgba(0, 0, 0, 0.13) 5px 5px 5px;
}

h2 {
  font-size: 1.7rem;
}

.header-container {
  background-image: url("/images/cabecera.jpg");
  background-position: center;
  background-size: cover;
  height: 200px;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  transform: rotate(180deg);
  text-align: center;
  width: 500px;
  font-size: 3rem;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.473) 3px 3px 3px;
}

.nav-main-container {
  display: flex;
}

.nav {
  font-family: "Zilla Slab", serif;
  width: 15%;
  background-color: white;
}

.nav ul {
  list-style: none;
  padding: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav a {
  text-decoration: none;
  font-style: italic;
  color: black;
}

.main {
  font-family: "Zilla Slab", serif;
  width: 85%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: #94bdd656 3px solid;
}

/* ///////////// FOR INDEX.HTML //////////////\ */

/* ///////////// INTRO CONTAINER //////////////\ */

.intro-container {
  background-image: linear-gradient(#94bdd6, #ebf7ff);
  width: 85%;
  margin-top: 15px;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.intro-content {
  font-size: 20px;
  line-height: 25px;
}

/* ///////////// EXPLAIN CONTAINER //////////////\ */

.explain-container {
  width: 85%;
  margin-top: 40px;
}

.explain-title {
  border-bottom: #94bdd656 solid 4px;
}

.explain-itemlist {
  list-style-type: none;
  margin: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explain-itemlist li {
  background: url("/images/list-icon.png") no-repeat left center;
  padding-left: 30px;
  margin-bottom: 10px;
  font-size: 1.6rem;
}

/* ///////////// PRESS CONTAINER //////////////\ */

.press-container {
  width: 85%;
  margin-top: 40px;
}

.press-title {
  border-bottom: #94bdd656 solid 4px;
}

.post-title {
  background-color: #94bdd6;
}

/* ///////////// PRESS CONTAINER => POST //////////////\ */

.post {
  box-shadow: rgba(0, 0, 0, 0.253) 4px 4px 4px;
  height: 225px;
  margin-top: 30px;
}

.post-title {
  background-color: #94bdd6;
  height: 35px;
  padding: 6px 0px 0px 10px;
}

.post-content {
  background-color: #ebf7ff;
  border-left: 4px #94bdd6 solid;
  width: 90%;
  height: 50%;
  margin: 5%;
  color: #94bdd6;
}

.post-marks {
  font-family: "BIZ UDPMincho", serif;
  font-size: 4rem;
  transform: rotate(180deg);
  width: 5%;
  height: 50%;
}

.post-msg {
  font-size: 1.2rem;
  margin: 0px 0px 10px 70px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.post-author {
  text-align: right;
  margin: 0px 20px 20px 0px;
  font-style: italic;
  font-weight: 400;
  font-family: Helvetica, sans-serif;
}

/* ///////////// UNIVERSITIES CONTAINER //////////////\ */

.university-container a {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
}

a h4 {
  background-color: blue;
  width: 100%;
  text-align: center;
  color: white;
  font-style: italic;
}

.university-container {
  width: 85%;
  margin-top: 40px;
}

.university-container img {
  width: 180px;
}

.university-title {
  border-bottom: #94bdd656 solid 4px;
}

.university-images {
  margin: 30px 0px 30px 0px;
  display: flex;
  gap: 20px;
}

.university-images a {
  border: black 1px solid;
}

.university-images h4 {
  margin-bottom: 20px;
}

.logo-uoc {
  margin: 15px 10px 10px 10px;
}

.logo-upc {
  margin: 25px 10px 10px 10px;
}

.logo-fira {
  margin: 10px;
}

.logo-bist {
  margin: 20px 10px 10px 10px;
}

/* ///////////// FOOTER //////////////\ */

.footer {
  background-color: #94bdd6;
  display: flex;
  justify-content: center;
  color: white;
  padding: 30px;
}

.footer ul,
a {
  list-style-type: none;
  text-decoration: none;
}

.footer-list__one {
  text-align: right;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-list__two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: white 3px solid;
  padding-left: 20px;
}

/* ///////////// FOR NEWS.HTML //////////////\ */

.news-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.news-title {
  text-align: center;
  margin-bottom: 25px;
}

.news-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.news-title h1 {
  margin-bottom: 25px;
  height: 100px;
  background-image: linear-gradient(#94bdd6, #ebf7ff);
}

.news-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px 15px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.156) 7px 7px 10px;
}
.news-post img {
  border-radius: 100%;
}

.news-post h3,
p {
  text-align: center;
}

.news-post h3 {
  background-color: #94bdd6;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  border-radius: 15px 15px 0px 0px;
}

.news-post p {
  margin-bottom: 20px;
}
